{% extends 'base.html' %}

{% block title %}
    消息通知
{% endblock %}

{% block body %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">消息通知</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">系统</a></li>
                        <li class="breadcrumb-item active">消息通知</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-info waves-effect waves-light"
                                onclick="OpenPromptModal();">
                            标记为已读
                        </button>
                    </div>
                </div>
            </div>
            <!--页面数据-->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>通知内容</th>
                            <th>对象ID</th>
                            <th>跳转页面</th>
                            <th>是否已读</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if object_list %}
                            {% for object in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter|add:page_flag }}</th>
                                    <td>{{ object.name|default:"--" }}</td>
                                    <td>{{ object.obj_id|default:"--" }}</td>
                                    <td>{{ object.type|default:"--" }}</td>
                                    {% if object.is_look %}
                                        <td style="color: #2ab57d;">已读</td>
                                    {% else %}
                                        <td style="color: #ffbf53;">未读</td>
                                    {% endif %}
                                    <td>{{ object.create_date|default:"--" }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="8" style="text-align: center;font-size: 14px;">暂无数据</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <!--分页-->
    {% if total_number > 0 %}
        <ul class="pagination" style="">
            {% if first %}
                {% if search %}
                    <li class="page"><a href="?search={{ search }}&page=1&size={{ size }}">1</a>
                    </li>
                {% else %}
                    <li class="page"><a href="?page=1&size={{ size }}">1</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <li class="page"><a href="javascript:void(0)">...</a></li>
                {% endif %}
                {% for i in left %}
                    {% if search %}
                        <li class="page"><a
                                href="?search={{ search }}&page={{ i }}&size={{ size }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page"><a href="?page={{ i }}&size={{ size }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <li class="page"><a href="javascript:void(0)"
                                class="active" id="page"> {{ page }}</a></li>
            {% if right %}
                {% for i in right %}
                    {% if search %}
                        <li class="page"><a
                                href="?search={{ search }}&page={{ i }}&size={{ size }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page"><a href="?page={{ i }}&size={{ size }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if right_has_more %}
                    <li class="page"><a href="javascript:void(0)">...</a></li>
                {% endif %}
            {% endif %}
            {% if last %}
                {% if search %}
                    <li class="page"><a
                            href="?search={{ search }}&page={{ total_pages }}&size={{ size }}">{{ total_pages }}</a>
                    </li>
                {% else %}
                    <li class="page"><a
                            href="?page={{ total_pages }}&size={{ size }}">{{ total_pages }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <select class="ui-select-pagesize" onchange="RefreshSize();">
                    {% if size == 5 %}
                        <option value="5" selected>5条/页</option>
                    {% else %}
                        <option value="5">5条/页</option>
                    {% endif %}
                    {% if size == 10 %}
                        <option value="10" selected>10条/页</option>
                    {% else %}
                        <option value="10">10条/页</option>
                    {% endif %}
                    {% if size == 15 %}
                        <option value="15" selected>15条/页</option>
                    {% else %}
                        <option value="15">15条/页</option>
                    {% endif %}
                    {% if size == 20 %}
                        <option value="20" selected>20条/页</option>
                    {% else %}
                        <option value="20">20条/页</option>
                    {% endif %}
                </select>
            </li>
        </ul>
    {% endif %}

    <!--确认弹窗-->
    <div class="modal fade" id="exampleModalCenter-prompt" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="prompt-header">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <div class="prompt-text">
                    <span id="prompt-title"></span>
                </div>
                <div class="prompt-footer">
                    <button type="button" class="btn btn-soft-success waves-effect waves-light" onclick="ConfirmBtn();"
                            data-bs-dismiss="modal">确认
                    </button>
                    <button type="button" class="btn btn-soft-link waves-effect" data-bs-dismiss="modal"
                            style="margin-left: 15%;">取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--异常提示弹窗-->
    <div role="alert" id="alert"></div>
{% endblock %}

{% block js %}
    <script>
        function RefreshSize() {
            let size = $(".ui-select-pagesize").val();
            setTimeout(function () {
                top.location.href = `{% url 'nb:message_list' %}?page=1&size=${size}`;
            }, 500);
        }

        function OpenPromptModal() {
            $("#exampleModalCenter-prompt").modal("show");
            let title = $("#prompt-title");
            title.html("确认要将所有通知标记为【已读】吗？");
        }

        function ConfirmBtn() {
            setTimeout(function () {
                MessageLook();
            }, 500);
        }

        function MessageLook() {
            $.ajax({
                type: "post",
                url: `{% url 'nb:message_look' %}?page={{ page }}&size={{ size }}&search={{ search }}`,
                headers: {
                    "Authorization": token,
                },
                async: false,
                success: function (result) {
                    console.log("message-look==>>", result);
                    let code = result.code;
                    let message = result.message;
                    let data = result.data;
                    if (code === 200) {
                        removeAlert(prompt).html("标记已读成功").addClass("alert-success").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = `{% url 'nb:message_list' %}?page=${data.page}&size={{ size }}`;
                        }, 1500);
                    } else if (code === 100009) {
                        removeAlert(prompt).html("暂无未读通知").addClass("alert-warning").show().delay(1500).fadeOut();
                    } else if (code === 100000) {
                        removeAlert(prompt).html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                        setTimeout(function () {
                            top.location.href = "{% url 'login' %}";
                        }, 1500);
                    } else {
                        removeAlert(prompt).html(message).addClass("alert-warning").show().delay(1500).fadeOut();
                    }
                }, error: function () {
                    removeAlert(prompt).html("出现未知异常，请联系Bruce.Li").addClass('alert-danger').show().delay(1500).fadeOut();
                }
            })
        }
    </script>
{% endblock %}