#alert {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    min-width: 300px;
    max-width: 600px;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    font-size: 12px;
    font-family: "微软雅黑", Monaco, "Courier New", Courier, monospace;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 15% 0 0 35%;
    background-color: red;
    display: none;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
    position: fixed;
    z-index: 100;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/* 弹窗的位置和背景颜色 */
.img-modal {
    display: none;
    position: fixed; /* 绝对定位 */
    z-index: 1; /* 元素置前 */
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto; /* 溢出出现滚动条 */
    top: 0;
    left: 0;
}

/* 弹窗图片的大小 */
.myContent {
    margin: auto;
    display: block;
    min-height: 500px;
    max-height: 600px;
    background-color: #F3F6F9;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.prompt-header {
    text-align: center;
    color: orange;
    font-size: 50px;
}

.prompt-text {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5%;
}

.prompt-footer {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 1%;
}

.invalid {
    width: 100%;
    margin-top: 0.1rem;
    font-size: 80%;
    color: #fd625e;
}

/**分页**/
ul.pagination {
    display: block;
    /*padding: 0;*/
    padding-left: 40%;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: #676a6d;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #009CFF;
    color: white;
    border-radius: 20%;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

ul.pagination li select.ui-select-pagesize {
    height: 32px;
    border: 1px solid #ddd;
    color: #666;
    margin-left: 1%;
}

tr {
    vertical-align: middle;
}

#loading-animation {
    position: fixed; /* 将容器固定在页面上 */
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 高度与视口相同，铺满整个页面 */
    background-color: white; /* 添加半透明的背景色 */
    display: flex; /* 使用flex布局居中内容 */
    justify-content: center;
    align-items: center;
}

#query_name {
    border: none;
    height: 40px;
    padding-left: 17px;
    padding-right: 50px;
    background-color: #f3f3f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    appearance: none;
    border-radius: 0.25rem;
}

#query_name::placeholder {
    color: #ced4da;
}
